<header id="header" class="fixed-top  d-flex justify-content-center align-items-center">
  <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href="#header">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#resume">Resume</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <section id="hero">
    <div class="hero-container">
      <h1>David</h1>
      <h2>Web Developer</h2>
      <a href="#about" class="btn-scroll scrollto" title="Scroll Down"><i class="bx bx-chevron-down"></i></a>
    </div>
  </section>
  <main id="main">
    <section id="about" class="about">
      <div class="container">
        <div class="section-title">
          <span>About Me</span>
          <h2>About Me</h2>
        </div>
        <div class="row">
          <div class="image col-lg-4 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
          <div class="col-lg-8 d-flex flex-column align-items-stretch">
            <div class="content pl-lg-4 d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-lg-6">
                  <ul>
                    <li><i class="icofont-rounded-right"></i> <strong>Name:</strong> David A</li>
                    <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> +91 887 048 6098</li>
                    <li><i class="icofont-rounded-right"></i> <strong>City:</strong> Chennai, India</li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul>
                    <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> 22</li>
                    <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> B. Tech</li>
                    <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> david.a.25897@gmail.com</li>
                  </ul>
                </div>
              </div>
              <div class="row mt-n4">
                <div class="col-md-12 mt-5 d-md-flex align-items-md-stretch">
                  <p>Hello, I am a 23-year-old B.Tech graduate who is currently living in Chennai. I love to watch movies, play video games and am very passionate about programming. I started my career as a tester and I've been trying to shift my career towards web development.</p>
                </div>
                <div class="col-md-12 mt-5 d-md-flex align-items-md-stretch">
                  <p>My technical skills include HTML, Javascript, Python, NodeJS, MongoDB, AngularJS and ReactJS.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="resume" class="resume">
      <div class="container">
        <div class="section-title">
          <span>My Resume</span>
          <h2>My Resume</h2>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>David A</h4>
              <p><em>Looking forward to a promising career with opportunities to enhance my technical skills, improve my knowledge, maintain a strong interpersonal relationship and work for the growth of the company.</em></p>
              
              <ul>
                <li>21/11, V.S Constructions, Sambhangi Reddy Street, West Mambalam, Chennai - 33</li>
                <li>+91 887 048 6098</li>
                <li>david.a.25897@gmail.com</li>
              </ul>
            </div>
            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor of Technology - Information Technology</h4>
              <h5>2014 - 2018</h5>
              <p><em>Loyola - ICAM College of Engineering and Technology, Chennai</em></p>
              <p>CGPA - 6.33</p>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Quality Services Associate</h4>
              <h5>2018 - 2019</h5>
              <p><em>Amazon Development Centre, Chennai </em></p>  
              <ul>
                <li>Experienced in preparation, updation and execution of Test Cases. </li>
                <li>Good exposure to STLC.</li>
                <li>Expertise with defect life cycle. </li>
                <li>Experience in performing Functional testing, Smoke testing, Re-Testing, Regression Testing, and System Testing. </li>
                <li>Knowledge in Data Base (SQL) and executed various types of SQL queries. </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="portfolio" class="portfolio">
      <div class="container">
        <div class="section-title">
          <span>My Portfolio</span>
          <h2>My Portfolio</h2>
        </div>
        <div class="row portfolio-container">
          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-img"><img src="/assets/img/portfolio/app1.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Movie Database</h4>
              <p>AngularJS, Express, NodeJS and MongoDB</p>
              <p>Project URL: <a href="https://priceless-torvalds-300f57.netlify.app/">https://priceless-torvalds-300f57.netlify.app/<a></p>
              <p>Front-end repository: <a href="https://github.com/david-1997/Movies">https://github.com/david-1997/Movies</a></p>
              <p>Back-end repository: <a href="https://github.com/david-1997/Movies-Server">https://github.com/david-1997/Movies-Server</a></p>
              <!-- <a href="https://priceless-torvalds-300f57.netlify.app/" data-gall="portfolioGallery" class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a> -->
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-img"><img src="/assets/img/portfolio/app2.jpeg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>URL Shortener</h4>
              <p>AngularJS, Express, NodeJS and MongoDB</p>
              <p>Project URL: <a href="https://goofy-bassi-5913e7.netlify.app/">https://goofy-bassi-5913e7.netlify.app/</a>></p>
              <p>Front-end repository: <a href="https://github.com/david-1997/URL-Client">https://github.com/david-1997/URL-Client</a>></p>
              <p>Back-end repository: <a href="https://github.com/david-1997/URL-Server">https://github.com/david-1997/URL-Server</a></p>
              <!-- <a href="https://goofy-bassi-5913e7.netlify.app/" data-gall="portfolioGallery" class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a> -->
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-img"><img src="/assets/img/portfolio/app3.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Github Replica</h4>
              <p>AngularJS, Express, NodeJS and MongoDB</p>
              <p>Project URL: <a href="https://gitreplica.netlify.app/">https://gitreplica.netlify.app/</a></p>
              <p>Front-end repository: <a href="https://github.com/david-1997/GitReplica">https://github.com/david-1997/GitReplica</a>></p>
              <!-- <a href="https://gitreplica.netlify.app/" data-gall="portfolioGallery" class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a> -->
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="portfolio-img"><img src="/assets/img/portfolio/app4.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Bus Ticket Booking</h4>
              <p>AngularJS, Express, NodeJS and MongoDB</p>
              <p>Project URL: <a href="https://blue-bus.netlify.app/">https://blue-bus.netlify.app/</a></p>
              <p>Front-end repository: <a href="https://github.com/david-1997/Bluebus-Client">https://github.com/david-1997/Bluebus-Client</a></p>
              <p>Back-end repository: <a href="https://github.com/david-1997/Bluebus-Server">https://github.com/david-1997/Bluebus-Server</a></p>
              <!-- <a href="https://blue-bus.netlify.app/" data-gall="portfolioGallery" class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="contact" class="contact">
      <div class="container">
        <div class="section-title">
          <span>Contact Me</span>
          <h2>Contact Me</h2>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-share-alt"></i>
                  <h3>Social Profiles</h3>
                  <div class="social-links">
                    <a href="https://www.linkedin.com/in/david-a-089347167/" class="linkedin"><i class="icofont-linkedin"></i></a>
                    <a href="https://github.com/david-1997" class="github"><i class="icofont-github"></i></a>
                    <a href="https://twitter.com/David_A_97" class="twitter"><i class="icofont-twitter"></i></a>
                    <a href="https://www.facebook.com/David.A.1997/" class="facebook"><i class="icofont-facebook"></i></a>
                    <a href="https://www.instagram.com/daveeeeeeeeeeeeeeeed/?hl=en" class="instagram"><i class="icofont-instagram"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Me</h3>
                  <p>david.a.25897@gmail.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Me</h3>
                  <p>+91 887 048 6098</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="6" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>